services:
  postgres:
    image: postgres:17
    container_name: northwind-postgres
    environment:
      POSTGRES_DB: northwind
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - ./northwind.sql:/docker-entrypoint-initdb.d/northwind.sql
    restart: unless-stopped
